.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
TODO.md
docs
*.o
*.so
*.dll
*.dylib
.valgrind_ignore
*.gcda
*.gcno
inst/doc
pkgdown
inst/include/cub
*.gcov
vignettes_src/*.md
.idea
.vscode/

inst/random/openmp/rnguse
inst/random/openmp/Makefile

sphinx/doxygen
sphinx/_build
